body{
    margin:0;
    padding:0;
    font-family:'Zen Old Mincho', serif;
    background:#E8DCCB;
}


.container{
    width:100%;
    max-width:500px;
    margin:0 auto;
    padding:30px;
    text-align:center;
}

h1{
    text-align:center;
    color:#5A4632;
    font-size:48px;
    letter-spacing:8px;
    font-weight:400;
    margin-bottom:35px;
}
input{
    width:100%;
    padding:12px;
    box-sizing:border-box;
    margin-bottom:10px;

    background:#FFF8F0;      
    border:2px solid #D6C2A8;
    border-radius:12px;

    color:#8B6B4A;          
    font-size:16px;
}
input::placeholder{
    color:#B89A7A;          
}

button{
    width:100%;
    padding:14px;
    cursor:pointer;

   background:#C7A17A;
    color:#FFFFFF;
    border:none;    
    border-radius:12px;

    font-size:18px;
    font-weight:600;

    transition:0.3s;
}

button:hover{
   button:hover{
    opacity:0.9;
    transform:translateY(-2px);
}

#result{
    #result{
    background:#FFFDF9;
    border-radius:24px;
    padding:25px;
    margin-top:25px;
    box-shadow:0 4px 12px rgba(90,70,50,0.08);
}

#suggestions{
    background:#FFFFFF;
    border:2px solid #D6C2A8;
    border-radius:12px;
    box-shadow:0 6px 18px rgba(0,0,0,0.12);
}

.suggestion-item{
    padding:10px;
    cursor:pointer;
    color:#5A4632;
    background:#FFFDF9;
}
.suggestion-item:hover{
    background:#F3E6D8;
}

#stats{
    background:#FFFDF9;
    border:1px solid #D6C2A8;
    border-radius:20px;
    padding:15px;
    margin-bottom:20px;
    text-align:center;
    line-height:1.8;
    font-weight:bold;
    color:#5A4632;
}
    
    border:1px solid #D6C2A8;
    color:#5A4632;
}

#mapContainer{
  margin-top:20px;
  text-align:center;
}

.map-wrapper{
  position:relative;
  display:inline-block;
  width:100%;
  max-width:800px;
}

.floor-map{
  width:100%;
  border-radius:12px;
}

.highlight{
    position:absolute;
    width:95px;
    height:95px;
    border:5px solid #39ff88;
    border-radius:50%;
    transform:translate(-50%,-50%);
    box-sizing:border-box;

    box-shadow:
        0 0 10px #00ff66,
        0 0 20px #00ff66;

    animation:flash 1s infinite;

    pointer-events:none;
}

@keyframes flash{
  0%{
    opacity:1;
    box-shadow:0 0 10px #00ff66;
  }
  50%{
    opacity:.3;
    box-shadow:0 0 30px #00ff66;
  }
  100%{
    opacity:1;
    box-shadow:0 0 10px #00ff66;
  }
}
