body{
    margin:0;
    padding:0;
    font-family:"Microsoft JhengHei";
    background:#E8DCCB;

    display:flex;
    justify-content:center;
}


.container{
    width:100%;
    max-width:500px;
    padding:30px;
}

h1{
    text-align:center;
}

input{
    background:#FFFDF9;
    border:2px solid #D6C2A8;
    border-radius:12px;
    color:#4A4036;
}

button{
    background:#8B7355;
    color:white;
    border:none;
    border-radius:12px;
    font-weight:bold;
    transition:.3s;
}

button:hover{
    background:#6F5A43;
}

#result{
    margin-top:20px;
}

#suggestions{
    background:white;
    border:1px solid #ddd;
    max-height:200px;
    overflow-y:auto;
}

.suggestion-item{
    padding:10px;
    cursor:pointer;
}

.suggestion-item:hover{
    background:#f0f0f0;
}

#stats{
  background:#FFF9F2;
  border:1px solid #D6C2A8;
  border-radius:20px;
  box-shadow:0 4px 12px rgba(0,0,0,.08);
}

#mapContainer{
  margin-top:20px;
  text-align:center;
}

.map-wrapper{
  position:relative;
  display:inline-block;
  width:100%;
  max-width:800px;
}

.floor-map{
  width:100%;
  border-radius:12px;
}

.highlight{
  position:absolute;
  width:95px;
  height:95px;
  border:5px solid #39ff88;
  border-radius:50%;
  transform:translate(-50%,-50%);
  animation:flash 1s infinite;
  box-sizing:border-box;
}
  box-shadow:
    0 0 10px #00ff66,
    0 0 20px #00ff66;

  animation:flash 1s infinite;

  pointer-events:none;
}

@keyframes flash{
  0%{
    opacity:1;
    box-shadow:0 0 10px #00ff66;
  }
  50%{
    opacity:.3;
    box-shadow:0 0 30px #00ff66;
  }
  100%{
    opacity:1;
    box-shadow:0 0 10px #00ff66;
  }
}
